#logo img, #menu img, #left-blob img, #right-blob img {
    max-width: 60px;
}

.nav-b {
}

.m-r {
  display: none;
}

@media (max-width:700px) {
  #left-blob img, #right-blob img {
    display: none;
  }
  #logo img, #menu img {
    max-width: 40px;
  }
  .m-r {
    display: block;
  }
  .m-l {
    display: none;
  }
}

@media (max-width:200px) {
  #left-blob img, #right-blob img {
    display: none;
  }
  #logo img, #menu img {
    max-width: 20px;
  }

}
