:root {
    --color-primary: #9E87CE;
    --color-primary-rgb: 158, 135, 206;
    --color-light: #F2F2F2;
    --color-light-rgb: 242, 242, 242;
    --color-dark: #212121;
    --color-dark-rgb: 33, 33, 33;

    --color-light-purple-rgb: 203, 150, 180;
    --color-dark-purple-rgb: 181, 50, 116;
    --color-blue-rgb: 125, 160, 198;
    --color-dark-blue-rgb: 37, 76, 91;
    --color-orange-rgb: 224, 107, 53;
    --color-yellow-rgb: 245, 198, 92;

    --color-custom-rgb: 85, 92, 136;
}

@font-face {
    font-family: "Proxima-Regular";
    src: url('/fonts/proxima/MARK SIMONSON - PROXIMA NOVA REGULAR.OTF');
}

@font-face {
    font-family: "Proxima-Bold";
    src: url('/fonts/proxima/MARK SIMONSON - PROXIMA NOVA BOLD.OTF');
}

@font-face {
    font-family: "Proxima-Black";
    src: url('/fonts/proxima/MARK SIMONSON - PROXIMA NOVA BLACK.OTF');
}

@font-face {
    font-family: "Tryvesterbro-Extrabold";
    src: url('/fonts/tryvesterbro/TRYVESTERBRO-EXTRABOLD.OTF');
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-light {
    background-color: var(--color-light) !important;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}

.bg-black {
    background-color: black !important;
}

.bg-white {
    background-color: white !important;
}

.bg-transparent {
    background-color: rgba(255, 255, 255, 0) !important;
}

.bg-light-purple {
    background-color: rgb(var(--color-light-purple-rgb)) !important;
}

.bg-dark-purple {
    background-color: rgb(var(--color-dark-purple-rgb)) !important;
}

.bg-blue {
    background-color: rgb(var(--color-blue-rgb)) !important;
}

.bg-dark-blue {
    background-color: rgb(var(--color-dark-blue-rgb)) !important;
}

.bg-orange {
    background-color: rgb(var(--color-orange-rgb)) !important;
}

.bg-yellow {
    background-color: rgb(var(--color-yellow-rgb)) !important;
}

.bg-custom {
    background-color: rgb(var(--color-custom-rgb)) !important;
}

.primary {
    color: var(--color-primary) !important;
}

.light {
    color: var(--color-light) !important;
}

.dark {
    color: var(--color-dark) !important;
}

.black {
    color: black !important;
}

.white {
    color: white !important;
}

.transparent {
    color: rgba(255, 255, 255, 0) !important;
}

.light-purple {
    color: rgb(var(--color-light-purple-rgb)) !important;
}

.dark-purple {
    color: rgb(var(--color-dark-purple-rgb)) !important;
}

.blue {
    color: rgb(var(--color-blue-rgb)) !important;
}

.dark-blue {
    color: rgb(var(--color-dark-blue-rgb)) !important;
}

.orange {
    color: rgb(var(--color-orange-rgb)) !important;
}

.yellow {
    color: rgb(var(--color-yellow-rgb)) !important;
}

.custom {
    color: rgb(var(--color-custom-rgb)) !important;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.border {
    /*border: 0.5px solid var(--color-default) !important;*/
    box-shadow: 0 0 9px #999;
}

.shadow-top {
    box-shadow: 0 -5px 5px -5px #333;
}

.shadow-right {
    box-shadow: 5px 0 5px -5px #333;
}

.shadow-bottom {
    box-shadow: 0 5px 5px -5px #333;
}

.shadow-left {
    box-shadow: -5px 0 5px -5px #333;
}

.shadow-all {
    box-shadow: 0 0 5px #333;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.container {
    margin-left: 15vw;
    margin-right: 15vw;
}

.container-narrow {
    margin-left: 5vw;
    margin-right: 5vw;
}

@media screen and (max-width: 576px) {
    .container {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .container-narrow {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

body {
    background-color: var(--white);
    color: white;
    font-size: 1.3rem;
}

h1, h2, h3, h4, h5, p {
    font-family: "Proxima-Regular";
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email],
 [type=month], [type=number], [type=password], [type=search], [type=tel],
 [type=text], [type=time], [type=url], [type=week], textarea {
    height: 2.6rem;
}

label {
    font-size: 1.1rem;
    line-height: 2.6rem;
}
