.section {
    height: 100vh;
}

.fp-controlArrow {
    opacity: 0;
}

.fp-slidesNav {
    text-align: center;
}

.fp-slidesNav li:nth-child(1) span {
    background-color: rgb(var(--color-light-purple-rgb)) !important;
}

.fp-slidesNav li:nth-child(2) span {
    background-color: rgb(var(--color-blue-rgb)) !important;
}

.fp-slidesNav li:nth-child(3) span {
    background-color: rgb(var(--color-yellow-rgb)) !important;
}

.fp-slidesNav li:nth-child(4) span {
    background-color: rgb(var(--color-orange-rgb)) !important;
}

.fp-slidesNav li:nth-child(5) span {
    background-color: rgb(var(--color-dark-purple-rgb)) !important;
}

.fp-slidesNav li:nth-child(6) span {
    background-color: rgb(var(--color-yellow-rgb)) !important;
}

.fp-slidesNav li:nth-child(7) span {
    background-color: rgb(var(--color-random-rgb)) !important;
}

.slide {
    background-size: cover;
}
